absl-py
astroid
astunparse
beautifulsoup4
cachetools
certifi
chardet
charset-normalizer
click
colorama
cycler
filelock
Flask
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
huggingface-hub
idna
importlib-metadata
inflect
isort
itsdangerous
jaraco.itertools
Jinja2
joblib
keras==2.3.1
Keras-Preprocessing
kiwisolver
lazy-object-proxy
libclang
Markdown
MarkupSafe
matplotlib
mccabe
more-itertools
np-utils
numpy
oauthlib
opencv-contrib-python-headless
opt-einsum
ordereddict
packaging
pandas
Pillow
protobuf
pyasn1
pyasn1-modules
pygame
pylint
pyparsing
PyPDF2
pypng
python-dateutil
pytz
PyYAML
random2
regex
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
setuptools-scm
sklearn
soupsieve
spotipy==2.19.0
tensorflow==2.0
tf-estimator-nightly
threadpoolctl
tokenizers
toml
tomli
tqdm
transformers
typing_extensions
urllib3
utils
waitress
Werkzeug
wikipedia
wolframalpha
wrapt
xmltodict
zipp
